.search {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__box {
    position: fixed;
    top: 30%;
    transform: translateY(-50%);
    width: 40%;
    height: 20px;
    display: flex;
    align-items: center;
    border: 2px solid #a8d138;
    border-radius: 25px;
    padding: 12px 20px;
    margin-bottom: 1px;

    &Input[type="text"] {
      background: transparent;
      color: white;
      width: 80%;
      border: none;
      margin-left: 0.5rem;
    }

    input[type="text"]::placeholder {
      color: grey;
      font-size: medium;
    }

    input[type="text"]:focus {
      outline: none;
    }
  }

  &__data {
    position: fixed;
    top: calc(30% + 30px);
    width: calc(50% + 44px);
    max-height: calc(50vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    max-height: 500px;
    overflow-y: auto;

    a {
      all: unset;
    }

    &User {
      display: flex;
      background-color: #383b40;

      &:hover {
      cursor: pointer;
      background-color: #787880;
      }
    }
  }
}